body{
background-color: rgb(228, 228, 228);
}

#header_div{
    position: fixed;
    text-align: center;
    color: rgb(71, 68, 68);
    font-weight: bold;
}

#img{
    width: 500px;
    height: 500px;
}